.so-widget-sow-slider-default-53fd0f98de19-77 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper {
  
  display: flex;
  align-items: center;
}
.so-widget-sow-slider-default-53fd0f98de19-77 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper .sow-slider-image-foreground-wrapper {
  margin-right: auto;
  margin-left: auto;
}
.so-widget-sow-slider-default-53fd0f98de19-77 .sow-slider-base .sow-slider-pagination li a {
  background: #ffffff;
}
.so-widget-sow-slider-default-53fd0f98de19-77 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-default-53fd0f98de19-77 .sow-slider-base .sow-slide-nav a {
  color: #ffffff;
}